<section id="room1">
  <h3>Room 1 desired temp: <%= @room1Temp %></h3>
  <h3>Current temp: <%= @room1Current %></h3>
  <input id="room1Input"><br>
  <button onclick="setTemp(1)">Set Temperature</button>
</section>

<section id="room2">
  <h3>Room 2 desired temp: <%= @room2Temp %></h3>
  <h3>Current temp: <%= @room2Current %></h3>
  <input id="room2Input"><br>
  <button onclick="setTemp(2)">Set Temperature</button>
</section>

<section id="room1">
  <h3>Room 3 desired temp: <%= @room3Temp %></h3>
  <h3>Current temp: <%= @room3Current %></h3>
  <input id="room3Input"><br>
  <button onclick="setTemp(3)">Set Temperature</button>
</section>

<section id="room4">
  <h3>Room 4 desired temp: <%= @room4Temp %></h3>
  <h3>Current temp: <%= @room4Current %></h3>
  <input id="room4Input"><br>
  <button onclick="setTemp(4)">Set Temperature</button>
</section>
<hr>

<button id="xl">Send logs in email</button>